.kode-mono-fonte {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 75%;
    height: 75%;
}

td{
    height: 11.11%;
    width: 5.5%;
}

td div ~ div{
    text-align: center;
    font-size: 16px;
}

.borderless{
    border: none;
}

.center{
    text-align: center;
}

div{
    font-size: 12px;
}

/* td{
    background-color: rgb(255, 15, 15);
} */